
streamlit
pandas
numpy
scikit-learn
matplotlib
seaborn
pip install streamlit-echarts
pip install streamlit-aggrid
pip install streamlit-option-menu
matplotlib
seaborn
scikit-learn
numpy
pandas
requests
